<!-- label_details.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    {% include 'navbar.html' %}
    <h2>{{ label.Label_Name }}</h2>

    <h2>Artists</h2>
    <ul>
        {% for artist in artists %}
            <li>
                <a href="{{ url_for('artist_details', artist_id=artist['ArtistID']) }}">{{ artist.Name }}</a>
            </li>
        {% endfor %}
    </ul>

</body>

</html>