<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        ul {
            list-style: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <h2>{{ user.Username }}</h2>

    <h3>Liked Songs:</h3>
    <ul>
        {% for song in songs %}
            <li>
                <a href="{{ url_for('song_details', song_id=song['SongID']) }}">{{ song.Song_Title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>

<a href="{{ url_for('search') }}">Back to Search</a>

</html>